@{
    ViewData["Title"] = "Home Page";
}





<div class="text-center">
    <div class="container" style="width:100%; background-image:url('@Url.Content("~/Images/tlo1.jpg")')" >
        <div class="row">
            <div class="col" style="padding-top:245px; padding-bottom:300px">

                <form asp-controller="BookList" asp-action="FindBook" autocomplete="off">
                    <h5> </h5>

                    <p>
                        Tytuł lub Autor <input type="text" name="titlebook" /> <input type="submit" value="Wyszukaj" />
                    </p>

                    <p>

                    </p>
                </form>
            </div>
        </div>

    </div>
</div>

